.card {
  display: inline-block;

  &:not(:last-child) {
    margin-right: 30px;
  }

  width: 270px;
  height: 118px;
  position: relative;
  background-color: $white-color;

  &:before {
    font-size: 144px;
    text-align: center;
    color: $white-color;
    opacity: 20%;
    position: absolute;
    top: -20px;
    left: 63px;
  }
}