.state-bar {

  .state {
    color: white;
    font: 18px bold;
    position: absolute;
    top: 10px;
    left: 5px;
  }

  .state-number {
    font-size: 48px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}

.icon-cog {
  background-color: #FFB900;
  &:before {
    animation: spin infinite 2s linear;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.icon-coffee {
  background-color: #7FBC39;
}

