$img-height: 40px;

$menu-background-color: #2D4054;
$menu-hover-button-color: #435466;
$menu-icon-size: 20px;
$menu-button-height: 45px;
$menu-font-size: 14px;
$menu-font-color: #FFFFFF;
$menu-hover-font-color: #00B4CF;