.Menu {
  background-color: #2d4054;
  display: flex;
  flex-direction: column;
  width: 270px;

  button {
    font-size: $menu-font-size;
    color: $menu-font-color;
    text-align: start;
    height: $menu-button-height;
    padding: 5px 32px;
    background: transparent;
    border-style: none;

    &:hover {
      color: $menu-hover-font-color;
      background-color: $menu-hover-button-color;
    }

    &::before {
      margin-right: 15px;
    }

    &:first-child {
      margin-top: 20px;
    }
  }
}