.modal {
  position: absolute;
  background: white;
  border: 1px solid #00B4CF;
  width: 570px;
  height: 160px;
  box-sizing: border-box;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

  padding-left: 14px;

  p {
    color: #5E5E5E;
  }

  .icon-close {
    position: absolute;
    right: 5px;
    top: 5px
  }

  input {
    box-sizing: border-box;
    width: 542px;
    height: 36px;
    padding: 8px 16px;
    margin: 0px;
    color: #00B4CF;

    &::placeholder {
      color: #5E5E5E;
    }
  }

  .cancel {
    margin-left: 20px;
  }

  &-content {
    padding-top: 8px;
  }

  &-footer {
    margin-top: 24px;

    button {
      border-style: none;
      height: 29px;
      width: 120px;
      color: $white-color;
    }
  }

  .add {
    background-color: #00B4CF;
    &:disabled {
      background-color: #A1A1A1;
    }
  }

  .cancel {
    background-color: #2D4054;
  }

  .icon-close {
    border-style: none;
    color: #00B4CF;
    background-color: transparent;
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #00B4CF;
    left: 10%;/*调整小三角形的位置*/
    bottom: 100%;/*调整小三角形的位置*/
  }

  &::after {
    content: "";
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 18px solid $white-color;
    left: calc(10% + 1px);
    bottom: 100%;
  }
}