$img-height: 40px;
$icon-size: 20px;

$menu-background-color: #2D4054;
$menu-hover-button-color: #435466;
$menu-button-height: 45px;
$menu-font-size: 14px;

$white-color: #FFFFFF;
$hover-font-color: #00B4CF;

$default-font-family: Avenir, Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$default-font-color: #2D4054;
$default-light-blue:#00B4CF;
$default-light-grey: #F3F3F3;

$footer-height: 30px;
$header-height: 70px;

