@import "src/variables";
@import "src/components/Header/header";
@import "src/components/History/history";
@import "src/components/Menu/menu";
@import "src/components/Card/card";
@import "src/components/StateBar/stateBar";
@import "src/components/Navigation/navigation";
@import "src/components/Item/item";
@import "src/components/Modal/modal";
@import "src/components/Service/service";
@import "src/components/Content/content";
@import "src/components/Footer/footer";
@import "src/app";

body,
#root {
  margin: 0;
  font-family: $default-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
